services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    restart: unless-stopped
    
  web:
    build:
      context: .
      dockerfile: Dockerfile-web
    volumes:
      - ./data:/app/data
    ports:
      - "5000:5000"
    restart: unless-stopped
